.container {
	width: 30%;
	margin-top: 10%;
	box-shadow: 0 3px 20px rgba(0,0,0,0.4);
	padding: 40px;
	border-radius: 10px;
}
 
body{
	background-image: url(../images/bglogin.jpg);
	background-size: cover;
	height: 450px;
	width: 100%;
	color: white;}
button {
	width: 49%;
}
